$varela: 'Varela Round', sans-serif;
$lato: 'Lato', sans-serif;

// PARENT ELEMENTS
html, body{
	background: #444;
	font-family: $lato;
}
label{
	display: block;
}

// WRAPPER
.wrapper{
	margin: 0 auto;
	padding: 0 20px;
}

h1{
	font-size: 13vw;
	color: #444;
	text-align: center;
	text-shadow: -2px -2px lime;
	margin: 10px auto;
	font-family: $varela;
}
h3{
	font-size: 2em;
	font-family: $lato;
	font-weight: 100;
	color: white;
	margin: 0;
}

p{
	color: #111;
}
// SECTIONS
section.intro{
	hr{
		color: #339;
		border-width: .8vh;
	}
	label{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p{
			font-size: 1.8em;
		}
	}
	.range-count{
		display: inline-flex;
		&>*{
			padding: 0 8px 0 10px;
		}
		p{
			width: 24px;
			text-align: right;
		}
	} 
}
